<html>
    <head>
	{% load facebook %}
	{% facebook_init %}
    		{% block facebook_code %}{% endblock %}
	{% endfacebook %}
        <script type="text/javascript">
	function fb_login() {
        	FB.login(function(response) {
          		if (response.status === 'connected') {
            			var uid = response.authResponse.userID; 
            			var accessToken = response.authResponse.accessToken;
                		if ((parseFloat(uid) == parseInt(uid)) && !isNaN(uid)) {
                  			window.location = 'http://198.58.117.156/courses/';
                  		}
     			}
        	});
        }
	</script>
    </head>
    <body>
        {% if is_logged_in %}
	<div>
        <div style="margin: 5px">Hi {{me.first_name}}</div>
	<divi style="margin: 5px">
		List of courses : 
		<table border="1">
				<tr>
					<th> Name </th>
					<th> Instructor </th>
					<th> URL </th>
				</tr>	
    			{% for course in courses %}
        			<tr>
            				<td>{{ course.name }}</td>
            				<td>{{ course.instructor_name }}</td>
            				<td>{{ course.url }}</td>
        			</tr>
    			{% endfor %}
		</table>
	</div>
	<div style="margin: 5px"><fb:like action='like' colorscheme='light' layout='standard' show_faces='false' width='650' send="true"/></div>
	</div>
	{% else %}
		<fb:login-button show-faces="false" width="200" max-rows="1" scope="{% facebook_scope %}" onlogin="fb_login()"></fb:login-button>
        {% endif %}
    </body>
    {% facebook_load %}
</html>
